 <div class="right_col" role="main" style="min-height: 1063px;">
  <div class="">
    <div >
	<p>
	  <strong>Name:</strong>
	  <%= @appointment_file.name %>
	</p>

	<p>
	  <strong>Desc:</strong>
	  <%= @appointment_file.desc %>
	</p>

	<p>
	  <strong>Document:</strong>
	  <%= @appointment_file.document %>
	</p>

	<p>
	  <strong>Appointment:</strong>
	  <%= @appointment_file.appointment %>
	</p>

	<%= link_to 'Edit', edit_appointment_file_path(@appointment_file) %> |
	<%= link_to 'Back', appointment_files_path %>


    <div class="clearfix"></div>
  </div>
</div>

