 <div class="right_col" role="main" style="min-height: 1063px;">
  <div class="">
    <div >
    </div>
    
    <div class="col-md-12 ">
      <div class="x_panel">
        <div class="x_title">
          <h2>History </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <table class="table">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Sex</th>
                <th>Mother First Name</th>
                <th>Mother Last Name</th>
                <th>Father First Name</th>
                <th>Blood Group</th>
                <th>Tel 1</th>
                <th>Tel 2</th>
                <th>Address</th>
                <th>Prime Contact Name</th>
                <th>Prime Contact Tel</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @patient.first_name%></td>
                <td><%= @patient.last_name%></td>
                <td><%= @patient.db%></td>
                <td><%= @patient.sex%></td>
                <td><%= @patient.mother_fn%></td>
                <td><%= @patient.mother_ln%></td>
                <td><%= @patient.father_fn%></td>
                <td><%= @patient.bg%></td>
                <td><%= @patient.tel1%></td>
                <td><%= @patient.tel2%></td>
                <td><%= @patient.address%></td>
                <td><%= @patient.prime_contact_name%></td>
                <td><%= @patient.prime_contact_tel%></td>
                
              </tr>
            </tbody>
          </table>

        </div>
        <%= link_to 'Edit', edit_patient_path(@patient), class: "btn btn-primary btn-xs" %> |
        <%= link_to 'Back', patients_path,class: "btn btn-info btn-xs" %>
      </div>
      
    </div>

    <div class="col-md-12 ">
      <div class="x_panel">
        <div class="x_title">
          <h2>Appointments </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ul class="list-unstyled msg_list">
            <% @patient.patient_appointments.each do |appointment| %>
              <%= render partial: "/appointments/single_appointment", locals: {appointment: appointment} %>
            <% end %>
          </ul>

        </div>
    <div class="clearfix"></div>
    
  </div>
</div>




